@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eurostile";
  src: url("../assets/eurostile/Eurostile.ttf");
}

@layer base {
  html,
  body {
    font-family: "Eurostile", sans-serif;
    /* overflow-x: hidden; */
    max-width: 100vw;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .text-poppins {
    font-family: "Poppins", sans-serif;
  }

  .row {
    display: flex;
    max-width: min(100%, 1728px);
    align-items: center;
  }

  .col {
    min-width: 50%;
    max-width: 50%;
  }

  .col-40 {
    min-width: 40%;
    max-width: 40%;
  }

  .col-60 {
    min-width: 60%;
    max-width: 60%;
  }

  .col-33 {
    min-width: 33.33%;
    max-width: 33.33%;
  }

  .header-nav {
    @apply text-primary bg-white;
    @apply flex justify-between items-center;
    @apply w-full;
    @apply mx-auto;
    @apply container;
    @apply px-10;
    @apply py-6;
    @apply relative;
    font-family: "Eurostile", sans-serif;
    color: var(--primary-blue, #102054);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    max-width: min(100%, 1366px);
  }

  .header-nav li {
    @apply cursor-pointer;
    @apply uppercase;
    @apply font-bold;
  }

  .header-nav li:hover {
    @apply text-primary-red;
  }

  .btn-cta:hover::after {
    top: 0.5em;
    right: 2rem;
    transform-origin: top right;
    scale: 0.8;
  }

  .btn-cta::after {
    content: url("../assets/icons/button_corner.svg");
    position: absolute;
    top: 0.25em;
    right: 1em;
    transform: translate(50%, -25%);
    z-index: 10;
    transition: all 0.2s ease-in-out;
  }

  .btn-cta.text-white::after {
    content: url("../assets/icons/button_corner_white.svg");
  }

  .hero {
    @apply text-primary;
    @apply uppercase;
    @apply relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    /* min-height: min(100vh, 600px); */
    padding-top: 2rem;
    padding-inline: 0%;
    /* margin-block-end: 2rem; */
    color: var(--primary-blue, #102054);
    font-size: 105px;
    text-align: left;
    font-weight: 900;
    line-height: 115px; /* 116.129% */
    letter-spacing: -0.005ch;
  }

  .hero .spacer {
    z-index: 0;
    min-height: min(100vh, 200px);
  }

  .hero > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: min(100%, 1366px);
    margin-inline: 0;
    gap: 0.25ch;
    vertical-align: middle;
  }

  .hero-cta {
    @apply uppercase;
    @apply font-bold;
    @apply m-10;

    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    text-transform: uppercase;
  }

  .hero-cta svg {
    aspect-ratio: 1/1;
    width: min-content;
    display: inline-block;
  }

  .hero .blob {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    border-radius: 50%;
    border-radius: 1001px;
    background: rgba(225, 74, 107, 0.25);
    filter: blur(80px);
    width: 600px;
    height: 600px;
  }

  .hero > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero svg {
    height: 0.8em;
    aspect-ratio: 1/1;
  }

  .hero > span {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .hero-item {
    font-family: "Eurostile", sans-serif;
    min-width: max-content;
    vertical-align: middle;
  }

  .hero-item img {
    align-self: center;
  }

  .hero-item-last {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin-inline: auto 0;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    font-weight: 300;
    margin-inline: 0;
    max-width: 8rem;
    text-transform: capitalize;
  }

  span {
    display: block;
  }

  .achievements {
    position: relative;
    z-index: 0;
    border-radius: 44px;
    background-color: #102054;
    min-width: 100vw;
    height: min(100vh, 900px);
    color: var(--secondary-white, #fff);
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 76.8px */
    padding: 80px 120px;
    overflow: hidden;
  }

  /* .achievements::after {
    content: "";
    position: absolute;
    bottom: 25%;
    right: 80%;
    border-radius: 50%;
    border-radius: 543px;
    background: rgba(134, 113, 244, 0.60);
    filter: blur(100px);
    width: 543px;
    height: 543px;
    transform: translate(50%, 50%);
    z-index: -1;
  } */

  .achievements .blob,
  .services-section .blob {
    position: absolute;
    border-radius: 50%;
    border-radius: 543px;
    background: #e14a6b;
    filter: blur(90px);
    width: 300px;
    height: 300px;
    transform: translate(50%, 50%);
    z-index: -1;
    right: 70%;
    bottom: 40%;
  }

  .achievements .blob + .blob,
  .services-section .blob + .blob {
    width: 400px;
    bottom: 15%;
    right: 90%;
    height: 400px;
    filter: blur(100px);
    background: #8671f4;
    z-index: -2;
  }

  .achievements_text {
    color: var(--secondary-white, #fff);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 38.4px */
    text-transform: uppercase;
    width: 60%;
  }

  .services-section .blob {
    right: 10%;
    bottom: 99%;
  }

  .services-section .blob + .blob {
    right: 0%;
    bottom: 80%;
  }

  .btn.btn-cta {
    @apply uppercase;
    @apply relative;
    @apply rounded-full;
    @apply px-10;
    @apply pl-0;
    @apply py-3;
    @apply cursor-pointer;

    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: 900 !important;
    line-height: 140%;
    margin-block: 32px;
    letter-spacing: 2.88px;
  }

  .achievement-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 0;
  }

  .achievement-card {
    border-right: 2px solid var(--secondary-white, #fff);
    padding-inline: min(5%, 6rem);
    font-size: 100px;
    min-width: 33%;
  }

  .stat {
    width: 100%;
    margin-inline: auto;
  }

  .achievement-card:nth-of-type(3) {
    border-right: none;
  }

  .ach_text {
    color: var(--secondary-white, #fff);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-block: 16px;
  }

  .about-us-section {
    padding-block-end: 100px;
    background: var(--Gray-6, #f2f2f2);
    position: relative;
    z-index: -1;
  }

  .about-us-section > img:nth-child(1) {
    width: auto;
    height: 100%;
    margin-top: -24px;
  }

  .about-us-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 772px;
    height: 772px;
    border-radius: 772px;
    background: rgba(225, 74, 107, 0.2);
    filter: blur(100px);
    transform: translate(-50%, 50%);
  }

  .about-us {
    padding-block: 95px 124px;
    display: flex;
    align-items: space-between;
    gap: 1rem;
  }

  .about-us-header .text-primary {
    color: var(--secondary-dark, #232323);
    font-family: "Eurostile";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 38.4px */
    text-transform: uppercase;
  }

  .about-us-header .text-secondary {
    color: var(--secondary-dark, #232323);
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 38.4px */
    margin-inline: 0;
    margin-block: 0;

    @apply text-primary-red;
  }

  .about-us-card {
    display: flex;
    max-width: 400px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background: var(--secondary-white, #fff);
    color: var(--secondary-dark, #232323);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    color: var(--secondary-dark, #232323);
  }

  .about-us-card-highlight {
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
    margin-block-end: 20px;
  }

  .about-us-title {
    color: var(--primary-red, #e6222f);
    font-family: "Eurostile", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: capitalize;
    margin-block-start: 6px;
  }

  .lines-illustration {
    max-width: 42vw;
  }

  .partners-logos {
    @apply flex;
    @apply px-0;
    @apply pt-20;
    @apply w-full;
    @apply container;
    @apply justify-center;
    @apply items-center;
    @apply gap-8;
    @apply z-10;
  }

  .partner-logo {
    @apply flex;
    @apply justify-between;
    @apply items-center;
    @apply w-auto;
    @apply h-auto;
  }

  .partner-logo img {
    @apply object-contain;
    @apply w-auto;
    max-height: 100%;
  }

  .testimonial-section {
    border-radius: 44px;
    background: var(--secondary-white, #fff);
    z-index: 100;
    padding-block: 100px;
  }

  .slider-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .slider-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .slider-image .image {
    width: 320px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 0;
  }

  .slider-image .image .shadow {
    content: "";
    position: absolute;
    bottom: 0;
    right: 25%;
    width: 100%;
    height: 50%;
    background: var(--primary-red, #e6222f);
    transform: skewX(30deg);
    border-radius: 3rem;
    z-index: -1;
  }

  .slider-control {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }

  .slider-button {
    padding: 10px;
    position: relative;
  }

  .slider-button::after {
    scale: 0;
    transition: all 0.2s ease-in-out;
  }

  .slider-button.active::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--primary-red, #e6222f);
    border-radius: 50%;
    z-index: 200;
    bottom: -1rem;
    right: 50%;
    transform: translateX(50%);
    scale: 1;
  }

  .slider-button img {
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }

  .testimonial-image {
    min-width: 200px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .testimonial {
    @apply relative;
    padding-inline: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--primary-blue, #102054);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 200;
    line-height: 120%; /* 38.4px */
    padding-block: 24px;
    border-bottom: 1px solid #c1c1c1;
  }

  .testimonial::before {
    /* Blockquote */
    content: "“";
    position: absolute;
    color: var(--primary-red, #e6222f);
    font-family: "Eurostile", sans-serif;
    font-size: 240px;
    font-weight: 600;
    line-height: 100%;
    margin-inline: 0;
    top: -7rem;
  }

  .testimonial-details {
    padding-block: 18px;
    padding-inline: 0;
    margin-inline: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--primary-blue, #102054);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 38.4px */
    min-width: 100%;
  }

  .testimonial-details img {
    width: auto;
    max-width: 120px;
    max-height: 80px;
  }
  img {
    width: 100%;
  }

  .services-section {
    border-radius: 44px 44px 0 0;
    background: var(--primary-blue, #102054);
  }

  .services-header-description {
    color: var(--secondary-white, #fff);
    font-family: "Eurostile", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 76.8px */
    text-transform: capitalize;
  }

  .services-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    aspect-ratio: 1/1;
    width: min(800px, 100%);
    height: 100%;
    max-height: 800px;
    padding: 36px;
    position: relative;
    z-index: 0;
    color: var(--secondary-white, #fff);
    font-family: "Eurostile", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 52.8px */
    transition: all 0.2s ease, border 0.2s 0.1s ease;
  }

  .services-card.col-span-2,
  .services-card.row-span-2 {
    aspect-ratio: unset;
  }

  .services-card:hover::before {
    scale: 1;
  }

  .services-card:hover {
    border: 1px solid transparent;
  }

  .services-card img {
    transition: all 0.25s var(--bezier, cubic-bezier(0.4, 0, 0.2, 1));
  }

  .services-card:hover > img {
    transform: translate(50%, -50%) scale(0.9);
  }

  .services-card {
    border: 1px solid white;
  }

  .services-card::before {
    content: "";
    position: absolute;
    background: var(
      --gradient-2,
      linear-gradient(134deg, #f96e7c 25.29%, #8d74ef 95.26%)
    );
    width: 100%;
    height: 100%;
    scale: 0;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s var(--bezier, cubic-bezier(0.4, 0, 0.2, 1));
    transform-origin: top left;
  }

  .sectors-section {
    padding-block-end: 36px;
    border-radius: 0px 0px 36px 36px;
    background: var(--primary-blue, #102054);
    position: relative;
  }

  .sectors-section .row + img {
    flex-shrink: 0;
    max-width: 30%;
    margin-inline-start: auto;
    margin-inline-end: 0;
  }

  .sectors-section .row::after {
    @apply top-1/3;
    @apply left-0;
    @apply absolute;
    content: "";
    background: radial-gradient(
      transparent 0%,
      var(--primary-blue, #102054) 90%
    );
    min-width: 30%;
    max-width: 30%;
    aspect-ratio: 1/1;
    z-index: 2;
    scale: 1.05;
    /* border: 1px solid red; */
  }

  .sectors-list {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-4;
    @apply px-0;
  }

  .sector-name {
    @apply relative;
    @apply z-0;
    @apply py-4;
    @apply px-6;
    font-family: "Poppins", sans-serif;
    color: var(--secondary-white, #fff);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 33.6px */
    background: linear-gradient(
      108deg,
      transparent 3.15%,
      transparent 45.78%,
      transparent 73.49%,
      transparent 89.49%
    );
    transition: all 0.2s var(--bezier, cubic-bezier(0.4, 0, 0.2, 1));
  }

  .sector-name::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      108deg,
      #f96e7c 3.15%,
      #8d74ef 45.78%,
      rgba(141, 116, 239, 0) 73.49%,
      rgba(141, 116, 239, 0) 89.49%
    );
    width: 100%;
    height: 100%;
    scale: 0 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s var(--bezier, cubic-bezier(0.4, 0, 0.2, 1));
    transform-origin: center left;
  }

  .sector-name:hover::before {
    scale: 1;
  }

  .case-studies-section {
    background: var(--Gray-6, #f2f2f2);
  }

  .case-study-card {
    margin-inline-end: 12px;
    @apply bg-white;
    @apply overflow-hidden;
    border-radius: 4px;
    transition: all 0.2s var(--bezier, cubic-bezier(0.4, 0, 0.2, 1));
  }

  .case-study-card:hover .case-study-card-image {
    transform: scale(1.025);
  }

  .case-study-card-image {
    transition: all 0.2s var(--bezier, cubic-bezier(0.4, 0, 0.2, 1));
  }

  .case-study-details {
    padding: 18px 28px;
  }

  .case-study-details h5 {
    color: var(--primary-blue, #102054);
    font-family: Eurostile;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 38.4px */
    text-transform: capitalize;
    margin-block-end: 0.75rem;
  }

  .contact-us-section {
    background: linear-gradient(0deg, #102054 0 50%, #f2f2f2 50% 100%);
  }

  .contact-us-card {
    padding: 152px 131px;
    background: var(--primary-blue, #102054);

    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply flex-col;
    @apply gap-10;
  }

  .contact-us-text {
    color: var(--secondary-white, #fff);
    text-align: center;
    font-family: "Eurostile", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 96px */
    text-transform: uppercase;
    max-width: 70%;
    letter-spacing: 1px;
    @apply mx-auto;
  }

  .footer-logo {
    width: 300.287px;
    height: 100px;
    flex-shrink: 0;
  }

  .footer-column span {
    margin-block-end: 36px;
    margin-inline: 10px;
    display: flex;
    flex-direction: column;
  }

  .footer-copyright-bar {
    @apply py-10;
    @apply mt-5;
    border-top: 1px solid white;
  }

  .section {
    @apply md:pt-24;
  }

  @media screen and (max-width: 425px) {
    .logo {
      max-width: 70px;
    }

    .row {
      flex-wrap: wrap;
      align-items: start;
      justify-content: center;
    }
    .hero-item {
      font-size: 42px;
      line-height: 105%;
      /* letter-spacing: 1.5px; */
      max-width: 100%;
    }

    .hero-item-last {
      color: var(--secondary-dark, #232323);
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 100%;
      text-align: center;
    }

    .achievements {
      padding: 0;
    }

    .achievements .row {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .achievements .col-60 {
      font-family: "Eurostile", sans-serif;
      font-size: 24px;
      line-height: 120%;
      font-weight: 400;
      max-width: 100%;
      min-width: 100%;
      margin-block: 1rem 0;
      text-align: center;
    }

    .achievements .col-40 {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }

    .achievements .col-60 .btn.btn-cta {
      display: none;
    }

    .achievements .achievement-card {
      font-family: "Eurostile", sans-serif;
      font-size: 64px;
      font-weight: 400;
      line-height: 77px;
      letter-spacing: 0em;
      text-align: center;
      border: 0;
      margin-block: 36px;
    }

    .achievement-card .ach_text {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
    }

    .section {
      padding: 0;
    }
  }
}
