@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eurostile";
  src: url("../assets/eurostile/Eurostile.ttf");
}

@layer base {
  html {
    font-family: "Eurostile", sans-serif;
    overflow-x: hidden;
  }

  .row {
    display: flex;
    max-width: min(100%, 1728px);
    align-items: center;
  }

  .col {
    min-width: 50%;
    max-width: 50%;
  }

  .col-40 {
    min-width: 40%;
    max-width: 40%;
  }

  .col-60 {
    min-width: 60%;
    max-width: 60%;
  }

  .header-nav {
    @apply text-primary bg-white;
    @apply flex justify-between items-center;
    @apply w-full;
    font-family: "Eurostile", sans-serif;
    padding: 3rem 4rem 2rem 4rem;
    /* gap: 10px; */
    color: var(--primary-blue, #102054);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }

  .header-nav li {
    @apply cursor-pointer;
    @apply uppercase;
    @apply font-bold;
  }

  .header-nav li:hover {
    @apply text-primary-red;
  }

  .btn-cta::after {
    content: url("../assets/button_corner.svg");
    position: absolute;
    top: 0.25em;
    right: 1em;
    transform: translate(50%, -25%);
    z-index: 10;
  }

  .hero {
    @apply text-primary;
    @apply uppercase;
    @apply relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    /* min-height: min(100vh, 600px); */
    padding-top: 2rem;
    padding-inline: 0%;
    margin-block-end: 2rem;
    color: var(--primary-blue, #102054);
    font-size: 90px;
    text-align: justify;
    font-weight: 1000;
    line-height: 100px; /* 116.129% */
    letter-spacing: -0.01em;
    text-transform: uppercase;
    /* overflow: hidden; */
  }

  .hero > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;
  }

  .hero-cta {
    @apply uppercase;
    @apply font-bold;
    @apply m-10;

    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }

  .hero-cta svg {
    height: 1em;
    width: min-content;
    display: inline-block;
  }

  .hero::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border-radius: 1001px;
    background: rgba(225, 74, 107, 0.25);
    filter: blur(60px);
    width: 1001px;
    height: 1001px;
    transform: translate(50%, 50%);
  }

  .hero > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: min(80%, 1200px);
  }

  .hero svg {
    height: 1.3em;
    padding-block: 0.1em;
    display: inline-block;
    margin-inline: 0;
    aspect-ratio: 1/1;
  }

  .hero span {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .hero-item.hero-item-last {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-inline: auto 0;
    max-width: 30%;
    line-height: normal;
    text-align: right;
    font-weight: 400;

    letter-spacing: normal;
  }

  span {
    display: block;
  }

  .achievements {
    position: relative;
    z-index: 0;
    border-radius: 44px;
    background-color: #102054;
    min-width: 100vw;
    height: min(100vh, 900px);
    color: var(--secondary-white, #fff);
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 76.8px */
    padding: 80px 120px;
    overflow: hidden;
    scale: 1.02;
  }

  /* .achievements::after {
    content: "";
    position: absolute;
    bottom: 25%;
    right: 80%;
    border-radius: 50%;
    border-radius: 543px;
    background: rgba(134, 113, 244, 0.60);
    filter: blur(100px);
    width: 543px;
    height: 543px;
    transform: translate(50%, 50%);
    z-index: -1;
  } */

  .blob {
    content: "";
    position: absolute;
    bottom: 25%;
    right: 80%;
    border-radius: 50%;
    border-radius: 543px;
    background: #e14a6b;
    filter: blur(100px);
    width: 300px;
    height: 300px;
    transform: translate(50%, 50%);
    z-index: -1;
  }

  .blob + .blob {
    width: 200px;
    height: 200px;
    right: 10px;
    bottom: 20%;
    background: #8671f4;
  }

  .achievements_text {
    color: var(--secondary-white, #fff);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 38.4px */
    text-transform: uppercase;
    width: 60%;
  }

  .btn.btn-cta {
    @apply uppercase;
    @apply relative;
    @apply font-bold;
    @apply rounded-full;
    @apply px-10;
    @apply py-3;
    @apply cursor-pointer;

    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 33.6px */
    letter-spacing: 2.88px;
  }

  .achievement-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 0;
  }

  .achievement-card {
    border-right: 2px solid var(--secondary-white, #fff);
    padding-inline: min(5%, 6rem);
    padding-block: 4rem;
    font-size: 6rem;

    @apply flex;
    @apply justify-end;
    @apply items-start;
    @apply flex-col;
  }

  .achievement-card:nth-of-type(3) {
    border-right: none;
  }
  .ach_text {
    color: var(--secondary-white, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-block-start: 16px;
  }

  .about-us-section {
    padding-block-end: 100px;
    background: var(--Gray-6, #f2f2f2);
    position: relative;
    z-index: -1;
  }

  .about-us-section > img:nth-child(1) {
    width: auto;
    height: 100%;
    margin-top: -24px;
  }

  .about-us-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 772px;
    height: 772px;
    border-radius: 772px;
    background: rgba(225, 74, 107, 0.2);
    filter: blur(100px);
    transform: translate(-50%, 50%);
  }

  .about-us {
    padding-block: 95px 124px;
    display: flex;
    align-items: space-between;
    gap: 1rem;
  }

  .about-us-header .text-primary {
    color: var(--secondary-dark, #232323);
    font-family: "Eurostile";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 38.4px */
    text-transform: uppercase;
  }

  .about-us-header .text-secondary {
    color: var(--secondary-dark, #232323);
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 38.4px */
    margin-inline: 0;
    margin-block: 0;

    @apply text-primary-red;
  }

  .about-us-card {
    display: flex;
    max-width: 400px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background: var(--secondary-white, #fff);
    color: var(--secondary-dark, #232323);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    color: var(--secondary-dark, #232323);
  }

  .about-us-card-highlight {
    width: 36px;
    height: 36px;
    margin-block-end: 10px;
  }

  .about-us-title {
    color: var(--primary-red, #e6222f);
    font-family: Eurostile;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: capitalize;
    margin-block-start: 6px;
  }

  .partners-logos {
    @apply flex;
    @apply px-0;
    @apply pt-20;
    @apply w-full;
    @apply justify-center;
    @apply items-center;
    @apply gap-8;
    @apply z-10;
  }

  .partner-logo {
    @apply opacity-30;
    @apply min-w-min;
    @apply h-48;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }

  .partner-logo img {
    @apply object-contain;
    @apply min-h-full;
    mix-blend-mode: multiply !important;
  }

  .testimonial-section {
    border-radius: 44px;
    background: var(--secondary-white, #fff);
    z-index: 100;
    padding-block: 100px;
  }

  .slider-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .testimonial {
    padding-inline: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--primary-blue, #102054);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 38.4px */
    padding-block: 24px;
    border-bottom: 1px solid #c1c1c1;
  }

  .testimonial-details {
    padding-block: 18px;
    padding-inline: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--primary-blue, #102054);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 38.4px */
  }
  img {
    width: 100%;
  }

  .services-section {
    border-radius: 44px;
background: var(--primary-blue, #102054);
  }
}
