@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eurostile";
  src: url("../assets/eurostile/Eurostile.ttf");
}

@layer base {
  html {
    font-family: "Eurostile", sans-serif;
  }
  .header-nav {
    @apply text-primary bg-white;
    @apply flex justify-between items-center;
    @apply w-full;
    font-family: "Eurostile", sans-serif;
    padding: 3rem 4rem 2rem 4rem;
    /* gap: 10px; */
    color: var(--primary-blue, #102054);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: normal;
    text-transform: uppercase;
  }

  .header-nav li {
    @apply cursor-pointer;
    @apply uppercase;
    @apply font-bold;
  }

  .header-nav li:hover {
    @apply text-primary-red;
  }

  .btn-cta::after {
    content: url("../assets/button_corner.svg");
    position: absolute;
    top: 0.25em;
    right: 1em;
    transform: translate(50%, -25%);
    z-index: -1;
  }

  .hero {
    @apply h-screen;
    @apply text-primary;
    @apply uppercase;
    @apply relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: min(100vh, 900px);
    padding-top: 15vh;
    padding-inline: 10%;
    color: var(--primary-blue, #102054);
    font-size: 90px;
    text-align: justify;
    font-weight: 1000;
    line-height: 100px; /* 116.129% */
    letter-spacing: -0.01em;
    text-transform: uppercase;
    /* overflow: hidden; */
  }

  .hero > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;
  }

  .hero-cta {
    @apply uppercase;
    @apply font-bold;
    @apply m-10;

    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }

  .hero-cta svg {
    height: 1em;
    width: min-content;
    display: inline-block;
  }

  .hero::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border-radius: 1001px;
    background: rgba(225, 74, 107, 0.25);
    filter: blur(60px);
    width: 1001px;
    height: 1001px;
    transform: translate(50%, 50%);
  }

  .hero > div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }

  .hero svg {
    height: 1.3em;
    padding-block: 0.1em;
    display: inline-block;
    margin-inline: 0;
    aspect-ratio: 1/1;
  }

  .hero span {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .hero-item.hero-item-last {
    font-size: 20px;
    font-family: sans-serif;
    margin-inline: 0 auto;
    max-width: 30%;
    line-height: normal;
    text-align: right;
    font-weight: 400;

    letter-spacing: normal;
  }

  span {
    display: block;
  }

  .achievements {
    border-radius: 44px;
    background-color: #102054;
    top: 0;
    right: 0;
    min-width: 100vw;
    height: min(100vh, 900px);
    color: var(--secondary-white, #fff);
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 76.8px */
    padding: 80px 120px;
  }

  .achievements_text {
    color: var(--secondary-white, #fff);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 38.4px */
    text-transform: uppercase;
    width: 60%;
  }

  .btn.btn-cta {
    @apply uppercase;
    @apply relative;
    @apply font-bold;
    @apply rounded-full;
    @apply px-10;
    @apply py-3;
    @apply cursor-pointer;

    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 33.6px */
    letter-spacing: 2.88px;
  }

  .achievement-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .achievement-card {
    border-right: 2px solid var(--secondary-white, #fff);
    padding-right: 20px;
    padding-top: 20px;
  }

  .achievement-card:nth-of-type(3) {
    border-right: none;
  }
  .ach_text {
    color: var(--secondary-white, #fff);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
  }

  .about-us {
    display: flex;
    align-items: space-between;
  }
  img {
    width: 100%;
  }
}
